In [1]:
from google.colab import drive
drive.mount('/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /gdrive

In [0]:
import pandas as pd
import numpy as np

In [0]:
colleges = pd.read_csv("/gdrive/My Drive/colleges.csv")

In [4]:
colleges.describe()

,Overall Rank,Undergrad. Enrollment,Student/faculty Ratio,Quality Rank,Cost Rank
count,100.0000,100.000000,100.000000,100.000000,100.000000
mean,50.2100,3768.490000,9.970000,50.500000,49.970000
std,28.8277,4113.615487,2.384525,29.011492,29.006601
min,1.0000,67.000000,3.000000,1.000000,1.000000
25%,25.7500,1636.000000,9.000000,25.750000,24.750000
50%,50.5000,2300.000000,10.000000,50.500000,49.500000
75%,74.2500,4697.750000,11.000000,75.250000,74.250000
max,100.0000,29379.000000,18.000000,100.000000,100.000000

In [5]:
colleges.columns

Index(['Overall Rank', 'School', 'State', 'Undergrad. Enrollment',
       'Admission Rate', '*SAT or ACT', 'Student/faculty Ratio',
       '4-year Grad. Rate', '6-year Grad. Rate', 'Quality Rank', 'Total Costs',
       'Cost After Need-based Aid', 'Need Met', 'Aid From Grants',
       'Cost After Non-Need-Based Aid', 'Non-Need-Based Aid+', 'Average Debt',
       'Cost Rank'],
      dtype='object')

In [0]:
#1. List the top 10 quality ranked colleges
colleges = colleges.drop([100, 101])

In [7]:
colleges.sort_values(by = "Quality Rank")["School"][:10]

2                          Williams College
11    Massachusetts Institute of Technology
6                           Yale University
3                        Swarthmore College
4                           Amherst College
9                       Stanford University
10                     Princeton University
8                        Harvard University
22               University of Pennsylvania
0        California Institute of Technology
Name: School, dtype: object

In [8]:
#2 List all the colleges in California
colleges[colleges.State == 'CA']["School"]

0     California Institute of Technology
9                    Stanford University
12                        Pomona College
27             Claremont McKenna College
51                   Harvey Mudd College
70     University of Southern California
76                       Scripps College
Name: School, dtype: object

In [0]:
#3 Which college has lowest average debt?
def preprocess_cost(col):
    for i in range(100):
        temp = colleges.loc[i, col]
        temp = temp[1:]
        temp = "".join(temp.split(','))
        temp = int(temp)
        colleges.at[i,col] = temp
preprocess_cost("Average Debt")

In [0]:
colleges["Average Debt"] = pd.to_numeric(colleges["Average Debt"])

In [11]:
i = colleges["Average Debt"].idxmin()
print(f"college with lowest avg debt: {colleges.loc[i]['School']}")

college with lowest avg debt: Washington University

In [12]:
#List bottom 10 cost rank colleges
colleges.sort_values(by = "Cost Rank").tail(10)["School"]

33                    Brown University
26                   Dartmouth College
22          University of Pennsylvania
97    Rensselaer Polytechnic Institute
40                  Cornell University
99    The George Washington University
32               Georgetown University
36                  Middlebury College
41                 Wesleyan University
90                 New York University
Name: School, dtype: object

In [13]:
#Among colleges having more than 2000 undergraduates, which has highest faculty/student ratio.
i = colleges[colleges["Undergrad. Enrollment"] > 2000]["Student/faculty Ratio"].idxmin()
print(colleges.loc[i]["School"])

Rice University

In [14]:
#Which college has aid in grant more than 80% and costliest in total cost
#preprocessing Aid From Grants
for i in range(len(colleges.index)):
    temp = str(colleges.loc[i]['Aid From Grants'])
    temp = int(temp[:-1])
    colleges.at[i,'Aid From Grants'] = temp
colleges['Aid From Grants'] = pd.to_numeric(colleges['Aid From Grants'])
preprocess_cost("Total Costs")
colleges['Total Costs'] = pd.to_numeric(colleges['Total Costs'])

i =  colleges[colleges['Aid From Grants']>80]["Total Costs"].idxmax()
print(colleges.loc[i]["School"])

Brown University

In [15]:
#Among top 50 quality rank colleges, which has lowest total cost
i = colleges[colleges["Quality Rank"] <= 50]["Total Costs"].idxmin()
print(colleges.loc[i]["School"])

Webb Institute