Question 1: Calculate Word Frequencies. Take a set of sentences in a string as an input. Count each unique occurrence of a word and calculate frequency of occurrence and store in a dictionary. Produce a frequency table.
Hint: Iterate through the string, placing the words into a dict. The first time a word is seen, the frequency is 1. Each time the word is seen again, increment the frequency.

In [0]:
import re

def word_frequency(words):
    word_freq = {}
    for word in words:
        match = re.search(r"[\W]+$",word)
        if(match):
            word = word[:-len(match.group())]
        if (len(word)):
          if (word_freq.get(word)):
            word_freq[word] +=1
          else:
            word_freq[word] = 1
    return word_freq
  
words = input().split()

word_freq = word_frequency(words)
print(*[f"{k}:{v}" for k,v in word_freq.items()],sep="\n")

this is a sentence,,,, this is another sentence... one more sentence and last one
this:2
is:2
a:1
sentence:3
another:1
one:2
more:1
and:1
last:1

Question 2:Result Calculation. Create a dictionary and a list like following.

Student = { 'UE183001': 'Avish', 'UE183002': 'Bhavya', 'UE183003': 'Tanya' } Add atleast 10 students
Marks = [('UE183001', 'CS', 94 ), ('UE183002', 'CS', 64 ), ('UE183001', 'RV', 94), ('UE183002', 'CS', 74), 
  ('UE183003', 'CS', 64)] Add some more values
Find total marks of each students and display full name of student with total marks secured. This is the basic relational database join algorithm between two tables.

In [0]:
def total_marks(students, marks):
    tot_mark = {}
    for mark in marks:
        if(tot_mark.get(mark[0])):
            tot_mark[mark[0]][1] += mark[2]
        else: tot_mark[mark[0]] = [students[mark[0]], mark[2]]
    return tot_mark

students = {'UE163063':'NAMAN','UE163065':'NIKHIL',
            'UE163066':'OJASVI','UE163074':'RAHUL',
            'UE163076':'REHAN', 'UE163110':'VAIBHAV',
            'UE163115':'VISHAL'}

marks = [('UE163063','CS',100), ('UE163063','CN',80),
         ('UE163065','CS',80), ('UE163065','CN',80),
         ('UE163066','CS',10), ('UE163066','CN',20),
         ('UE163074','CS',100), ('UE163074','CN',90),
         ('UE163076','CS',80), ('UE163076','CN',90),
         ('UE163110','CS',40), ('UE163110','CN',70),
         ('UE163115','CS',30), ('UE163115','CN',33)]
"""
#FOR USER INPUT
for i in range(int(input("Enter number of students:"))):
    roll, name = input(f"Student {i+1}:").split()
    students[roll] = name
    
marks = [input(f"marks {i+1}:").strip().split(',') for i in range(int(input("Enter number of entries:")))]
marks = list(map(lambda x:(x[0], x[1], int(x[2])), marks))
"""
tot_mark = total_marks(students, marks)
print(*[f"{v[0]}:{v[1]}" for k,v in tot_mark.items()],sep="\n")

NAMAN:180
NIKHIL:160
OJASVI:30
RAHUL:190
REHAN:170
VAIBHAV:110
VISHAL:63

Question 3: A date of the form 8-MAR-85 includes the name of the month, which must be translated to a number. Create a dict suitable for decoding month names to numbers. Create a function which uses string operations to split the date into 3 items using the "-" character. Translate the month, correct the year to include all of the digits.
The function will accept a date in the "dd-MMM-yy" format and respond with a tuple of ( y , m , d ).

In [0]:
 
months ={'JAN':1, 'FEB':2, 'MAR':3, 'APR':4,
          'MAY':5, 'JUN':6, 'JUL':7, 'AUG':8,
          'SEP':9, 'OCT':10, 'NOV':11, 'DEC':12}

def date_translate(date_list):
  d, m, y = date_list
  month = months[m]
  if int(y[0]) <= 1:
      year = f"20{y}"
  else:
      year = f"19{y}"
  return (year, month, d)
    
  
  
print(date_translate(input("Enter date:").split('-')))
print(date_translate(input("Enter date:").split('-')))
print(date_translate(input("Enter date:").split('-')))
print(date_translate(input("Enter date:").split('-')))

Enter date:8-MAR-85
('1985', 3, '8')
Enter date:10-MAR-90
('1990', 3, '10')
Enter date:1-DEC-12
('2012', 12, '1')
Enter date:4-FEB-98
('1998', 2, '4')

Question 4: Dice Odds. There are 36 possible combinations of two dice. A simâ†’ple pair of loops over range(6)+1 will enumerate all combinations. The sum of the two dice is more interesting than the actual combination. Create a dict of all combinations, using the sum of the two dice as the key. Each value in the dict should be a list of tuples; each tuple has the value of two dice.

In [0]:
dice_combinations={}
for i in range(1,7):
  for j in range(1,7):
    if(dice_combinations.get(i+j)):
        dice_combinations[i+j].append((i,j))
    else:
        dice_combinations[i+j] = [(i,j)]
print(*[f"{k}:{v}" for k,v in dice_combinations.items()],sep='\n')

2:[(1, 1)]
3:[(1, 2), (2, 1)]
4:[(1, 3), (2, 2), (3, 1)]
5:[(1, 4), (2, 3), (3, 2), (4, 1)]
6:[(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)]
7:[(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)]
8:[(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)]
9:[(3, 6), (4, 5), (5, 4), (6, 3)]
10:[(4, 6), (5, 5), (6, 4)]
11:[(5, 6), (6, 5)]
12:[(6, 6)]