In [0]:
#Q1
def cast(student):
    student[1], student[2]= int(student[1]), int(student[2])
    return student
    
students = [tuple(cast(input(f"Student {i+1}:").strip().split(',')))
            for i in range(int(input("Enter number of students:")))]

students = sorted(students, key = lambda student:(student[0], 
                                                  student[1], student[2]))
print(students)

Enter number of students:5
Student 1:Tom,19,80
Student 2:John,20,90
Student 3:Jony,17,91
Student 4:Jony,17,93
Student 5:Json,21,85
[('John', 20, 90), ('Jony', 17, 91), ('Jony', 17, 93), ('Json', 21, 85), ('Tom', 19, 80)]

In [0]:
#Q2
def max_sum(lists):
    max_index = 0
    max_val = -1000
    for i,sub in enumerate(lists):
      val = sum(sub)
      if val > max_val:
        max_val = val
        max_index = i
    return lists[max_index]
  
lists = [input(f"enter list {i+1}:").strip().split() 
         for i in range(int(input("Enter n:")))]
lists = [list(map(int,sub)) for sub in lists]
print(f"sublist with max sum:{max_sum(lists)}")

Enter n:4
enter list 1:1 2 3
enter list 2:4 5 6
enter list 3:10 11 12
enter list 4:7 8 9
sublist with max sum:[10, 11, 12]

In [0]:
#Q3
def chk_sublist(lis, sub):

    for i in lis:
      if i==sub:
        return True
      elif(type(i)==list):
        if(chk_sublist(i, sub)):
          return True
    return False
  
  
print(chk_sublist([[[1,2]]], [1,2]))
print(chk_sublist([[[1],[2]]], [1,2]))
print(chk_sublist([[[1,[1,2]]]], [1,2]))

True
False
True